.container {
	container-name: card;
	container-type: inline-size;
}

.case {
	@apply grid
	w-full
	items-baseline;

	@container card (min-width: 656px) {
		@apply grid-cols-2;
	}

	@container card (min-width: 1168px) {
		@apply grid-cols-12;
	}
}

.imageLink {
	@apply relative
	col-span-full
	mb-6
	h-96
	overflow-clip;

	@container card (min-width: 656px) {
		@apply landscape:h-72;
	}

	@container card (min-width: 912px) {
		@apply landscape:h-96;
	}

	@container card (min-width: 1168px) {
		@apply mb-8
		landscape:h-[40rem];
	}

	picture,
	img {
		@apply absolute
		left-0
		top-0
		!size-full
		object-cover
		duration-300;
	}

	&:hover img {
		@apply scale-110;
	}
}

.client {
	@apply text-h3
	font-semibold
	leading-tight
	tracking-tighter
	text-noir-50;

	@container card (min-width: 1168px) {
		@apply col-span-5;
	}
}

.description {
	@apply mt-2
	text-p-small
	leading-normal
	md:mt-0;

	@container card (min-width: 1168px) {
		@apply col-span-5;
	}
}

.link {
	@apply mt-3
	text-p-small
	font-semibold
	text-noir-50;

	@container card (min-width: 656px) {
		@apply col-start-2;
	}

	@container card (min-width: 1168px) {
		@apply col-span-2
		mt-0
		justify-self-end;
	}

	&::after {
		@apply ml-2
		content-["->"];
	}
}
