body {
	@apply font-sans;
}

h2 {
	@apply mb-3
	font-display
	text-2xl
	font-bold
	leading-tight
	tracking-tighter
	text-white
	md:mb-4
	md:text-3xl
	lg:mb-6
	lg:text-4xl;
}

p {
	@apply text-pretty
	text-sm
	text-noir-200
	md:text-base
	lg:text-lg
	lg:leading-normal
	xl:text-xl
	xl:leading-normal
	hd:text-2xl
	hd:leading-normal;

	+ & {
		@apply mt-[2em];
	}

	&.intro {
		@apply text-base
		md:text-lg
		lg:text-xl
		xl:text-2xl
		hd:text-3xl;
	}
}
