@layer base {
	body {
		@apply font-sans;
	}

	/* stylelint-disable */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		@apply text-balance
		text-noir-50;
	}

	h1,
	.h1 {
		@apply font-display
		text-h1
		font-bold
		tracking-tighter
		lg:leading-none;
	}

	h2,
	.h2 {
		@apply text-h2
		font-semibold
		leading-none
		tracking-tight;
	}

	h3,
	.h3 {
		@apply text-h3
		font-semibold
		leading-none
		tracking-tight;
	}

	/* stylelint-enable */
	p,
	ul,
	ol {
		@apply font-light
		leading-normal
		xl:leading-tight
		hd:text-p;
	}

	ul:not([class]),
	ol:not([class]) {
		@apply space-y-2
		pl-[1em]
		lg:space-y-4
		2xl:space-y-6;
	}

	ul:not([class]) {
		@apply list-disc;
	}

	ol:not([class]) {
		@apply list-decimal;
	}

	blockquote {
		@apply text-balance
		font-display
		font-semibold
		leading-none
		tracking-tighter
		text-noir-50;
	}

	s {
		@apply text-noir-600;
	}

	strong {
		@apply font-semibold
		text-noir-50;
	}

	p.small {
		@apply text-p-small;
	}
}
