.section {
	.innerSection {
		@apply grid
		border-t-[3px]
		border-noir-50
		lg:grid-cols-3;
	}

	.label {
		@apply pr-12
		pt-6
		font-display
		text-h2
		font-bold
		tracking-tighter
		text-noir-50;
	}

	.articles {
		@apply flex
		flex-col
		lg:col-span-2;
	}
}

.tile {
	@apply flex
	border-b
	border-noir-500
	py-6;
}

.link {
	@apply flex
	w-full
	justify-between
	text-h3
	font-medium
	tracking-tight
	text-noir-50
	lg:items-center;
}

.arrow {
	@apply size-6
	-rotate-45;
}
